## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
*.vs/
.vs/

## Rider
.idea/

## VS Code
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

## Personal notes (NEVER commit)
.notes/